<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>Noambox</title>
  <!--<link rel="stylesheet" href="{{ static_url("css/style.css") }}">-->
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="../static/js/jquery.js">
  </script>
  <script src="../static/js/js.js">
  </script>
</head>

<body>
  <div id="layout">
    <div id="nav">
      <a href="#" class="nav-menu-button">Menu</a>
      <div class="nav-inner">
        <div class="logo">
          <button>Noambox</button>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#" class="menu-link">
                <span class="menu-item-circle" style="color:#2196F3;">&#x1f518;</span>Play</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <span class="menu-item-circle" style="color:#4CAF50;">&#x1f4fb;</span>Fm</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <span class="menu-item-circle" style="color:#FFC107">&#x1f0a0;</span>Device</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <span class="menu-item-circle" style="color:#FF4081;">&#x26bf;</span>Setting</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <span class="menu-item-circle" style="color:#03A9F4;">&#128421;</span>System</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <span class="menu-item-circle" style="color:#009688;">&#8505;</span>About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="list">
      <div class="list-inner">
        <ul class="thelist">
          <li class="thelist-item">Playlist</li>
          <li class="thelist-item">WayJam喜欢的音乐</li>
          <li class="thelist-item">林志炫</li>
          <li class="thelist-item">我是歌手</li>
          <li class="thelist-item">粤语歌单</li>
          <li class="thelistthelist-item"></li>
          <li class="thelist-item"></li>

        </ul>
      </div>
    </div>
    <div id="main">
      <div id="header">
        <div class="header-inner">
          <div aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
          <div id="status">
            <div class="nowplaying">
              <span class="title">Carrie</span> &ndash;
              <span class="singer">Europe</span>
              <div class="time fright">
                <span class="current-time">4:30</span>
                /
                <span class="total-time">5:55</span>
              </div>
            </div>
            <div class="progressbar">
              <span class="determinate" style="width: 50%"></span>
            </div>
            <span class="loading"></span>
            <p class="minilryic">This is the lyric demo.</p>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="searchbar">
          <form action="" method="get">
            <div class="search-type">
              <input name="search-type" type="radio" id="search-song" checked/>
              <label for="search-song">Song</label>
              <span class="dot">&middot;</span>
              <input name="search-type" type="radio" id="search-singer" />
              <label for="search-singer">Singer</label>
              <span class="dot">&middot;</span>
              <input name="search-type" type="radio" id="search-album" />
              <label for="search-album">Album</label>
              <span class="dot">&middot;</span>
              <input name="search-type" type="radio" id="search-list" />
              <label for="search-list">List</label>
            </div>
            <div class="search-inner">
              <input type="search" name="q" class="search" placeholder="enter to search ..." />
              <button class="go">
                <span class="searchbar-button"></span>
              </button>
            </div>
          </form>
        </div>
        <div class="songlist-warpper">
          <ul class="songlist">
            <li class="song-item">
              <span class="title">他说</span>
              <span class="duration">05:20</span>
              <span class="singer">林俊杰</span>
              <span class="album">她说 概念自选辑</span>
              <div class="button">
                <button type="button" name="play-this">&#9656;</button>
                <button type="button" name="plus-this">&plus;</button>
              </div>
            </li>
            <li class="song-item">
              <span class="title">我爱他</span>
              <span class="duration">04:42</span>
              <span class="singer">丁当</span>
              <span class="album">夜猫</span>
              <div class="button">
                <button type="button" name="play-this">&#9656;</button>
                <button type="button" name="plus-this">&plus;</button>
              </div>
            </li>
            <li class="song-item">
              <span class="title">他不爱我</span>
              <span class="duration">03:52</span>
              <span class="singer">张杰</span>
              <span class="album">爱，不解释</span>
              <div class="button">
                <button type="button" name="play-this">&#9656;</button>
                <button type="button" name="plus-this">&plus;</button>
              </div>
            </li>
            <li class="song-item">
              <span class="title">他和她</span>
              <span class="duration">03:49</span>
              <span class="singer">回音哥</span>
              <span class="album">重定义</span>
              <div class="button">
                <button type="button" name="play-this">&#9656;</button>
                <button type="button" name="plus-this">&plus;</button>
              </div>
            </li>
          </ul>
        </div>
        <div class="fmlist-warpper">
          <ul class="fmlist">
            <li class="fm-item">
              <span class="title">华语</span>
              <span class="songscount">8023</span>
            </li>
            <li class="fm-item">
              <span class="title">民谣</span>
              <span class="songscount">8870</span>
            </li>
            <li class="fm-item">
              <span class="title">七零</span>
              <span class="songscount">5632</span>
            </li>
            <li class="fm-item">
              <span class="title">轻音乐</span>
              <span class="songscount">1200</span>
            </li>
          </ul>
        </div>
      </div>
      <div id="control-panel">
        <div class="control-panel-inner">
          <div class="fleft control-group-left">
            <button class="control-group-prev" type="button" name="control-group-prev">&#9198;</button>
            <button class="control-group-play" type="button" name="control-group-prev">&#9654;</button>
            <button class="control-group-play" type="button" name="control-group-prev">&#9208;</button>
            <button class="control-group-next" type="button" name="control-group-next">&#9197;</button>
            <div class="stream-switch">
              <label>
                Stream
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
            <input class="control-group-vol" min="0.0" max="1.0" step="0.001" tabindex="-1" type="range" name="control-group-vol">
            <!--<button class="control-group-replay" type="button" name="control-group-replay"> &#128472;</button>-->
          </div>
          <div class="fright control-group-right">
            <div class="play-mode-switch">
              <select class="play-mode-select">
                <option value="0">Default</option>
                <option value="1">Loop Track</option>
                <option value="2">Loop Playlist</option>
                <option value="3">Randomize</option>
              </select>
            </div>
            <button class="control-group-toggle-menu" type="button" name="control-group-toggle-menu" onclick="menu_toggle();">&equiv;</button>
          </div>
          <div class="clearfix"></div>
          <div>
          </div>
        </div>
      </div>
</body>

</html>
